
<h3>GameHub</h3>
<h4>@Message</h4>
<button @onclick="TestConnect">Test connect</button><br>

@if (GameId == null)
{
<button @onclick="CreateGame">Create Game</button><br>
}

@foreach(string gameId in Games)
{ 
    <button @onclick="()=>JoinGame(gameId)">Join @gameId</button><br>
}
