
<h3 class="TitleText">GAME HUB</h3>
@IsRun
@if (!IsRun)
{
    @if (GameId == null)
    {
        <button @onclick="CreateGame">Create Game</button>
        <br>
    }
    else
    {
        <button @onclick="DeleteGame">Delete Game</button>
        <br>
        @GameId
        <br>
    }

    @foreach (string gameId in Games)
    {
        <button @onclick="() => JoinGame(gameId)">Join @gameId</button>
        <br>
    }
}
else 
{
    <CheckersDesk />

}



