<h3 class="TitleText">REGISTRATION</h3>

<div class="divCenter">
    @if (!waitingResponse)
    {
        <input class="myInput" type="text" @bind="LoginData.Login" placeholder="Login" />
        <input class="myInput" type="password" @bind="LoginData.Password" placeholder="Password" />
        <input class="myInput" type="password" @bind="LoginData.PasswordCopy" placeholder="Repeat password" />
        <input class="myInput" type="text" @bind="LoginData.UserName" placeholder="User name" />
        <br/>
        <button class="btn btn-outline-primary " @onclick="RegisterUser">Registration</button>
    }
    else
    {
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }

</div>

@if (!validate)
{
    <pre class="error">@errorMessage</pre>
}
