<h3>SignIn</h3>

<div class="divCenter">
    <input type="text" @bind="LoginData.Login" placeholder="Login"/>
    <input type="password" @bind="LoginData.Password" placeholder="Password"/>
    <button @onclick="SigninRequest">Login</button>
</div>


