<h3 class="TitleText">STATISTIC</h3>

<h4>Login : @_statisticDto.UserLogin</h4>

<h4>Name : @_statisticDto.UserName</h4>

<h4>Score: @_statisticDto.Score</h4>

<h4>Games played: @_statisticDto.TotalGamesCount</h4>
