.divCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    align-items: center;
}
.centerOnParrentHorizontal {
    margin-top: 10px;
    margin-left: 70%;
    align-self: center;
}

.hCenter {
    position: absolute;
    align-self: center;
   
}

.error {
    color: orangered;
}